* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 15px;
  padding-left: 2px;
  margin: 0px 2px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
}

#workspaces {
  border-radius: 5px 0px 0px 5px;
  margin: 2px 0px ;
  background: #101010;
  padding-right: 2px;
}

#workspaces button {
  color: #babbf1;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: #99d1db;
  border-radius: 0px 5px 5px 0px;
}

button {
  background: transparent;
}

#workspaces button:hover {
  background: #1e1e1e;
  border: 0px solid transparent;
}
#window {
  border-radius: 0px 5px 5px 0px;
}
#custom-music,
#tray,
#backlight,
#custom-clock,
#battery,
#pulseaudio,
#custom-network,
#cpu,
#memory,
#window,
#custom-ip,
#custom-lock,
#custom-weather,
#custom-uptime,
#custom-power,
#custom-docker {
  background-color: #101010;
  padding: 0.5rem 1rem;
  margin: 2px 0;
}

#custom-clock {
  color: #c6d0f5;
  border-radius: 5px;
}

#custom-weather {
  color: #8caaee;
  margin-left: 0.5rem;
  border-radius: 5px;
}

#battery {
  color: #c6d0f5;
}

#battery.charging {
  color: #c6d0f5;
}

#battery.warning:not(.charging) {
  color: #e78284;
}

#backlight {
  color: #e5c890;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color:#c6d0f5 ;
  border-radius: 5px 0px 0px 5px;
}

#custom-docker {
  color: #85c1dc;
}

#custom-music {
  color: #ca9ee6;
  border-radius: 5px;
}

#custom-lock {
  color: #babbf1;
}

#custom-power {
  margin-right:3px;
  border-radius: 0px 5px 5px 0px;
  color: #e78284;
}
#custom-ip {
  padding: 0 5px;
  color: #c6d0f5;
}

#custom-docker.docker {
  color: #85c1dc;
}

#custom-docker.docker-none {
  color: #737994;
}

#custom-docker.docker-error {
  color: #e78284;
}

#custom-weather.clear {
  color: #e5c890; /* Sunny yellow */
}

#custom-weather.cloud {
  color: #99d1db; /* Light blue */
}

#custom-weather.rain {
  color: #8caaee; /* Blue */
}

#custom-weather.snow {
  color: #c6d0f5; /* White-ish */
}

#custom-weather.thunder {
  color: #ca9ee6; /* Purple */
}

#custom-weather.fog {
  color: #b0b4bc; /* Gray */
}

#custom-weather.error {
  color: #e78284; /* Red */
}
